        </div>
        <div class="footer flex flex-dir-row">
            <div class="col-4">
                <div class="container center">
                    <i class="fab fa-facebook-square" style="font-size: 3rem; color:#7fbfbf"></i>
                    <i class="fab fa-instagram-square" style="font-size: 3rem; color:pink"></i>
                </div>
            </div>
            <div class="col-4">
                <div class="container">
                    <h3>Contact</h3>
                    <p>Phone: (807)223-1234</p>
                    <p>Email: cjayconsulting@gmail.com</p>
                </div>
            </div>
            <div class="col-4">
                <div class="container center">
                    <p>Written By: Colton Van Bastelaere and Jadon Moorman</p>
                </div>
            </div>
        </div>
    </body>
</html>