<%- include('../partials/header') -%>
    <h1>Error: Payment denied</h1>
    <a href="/">Go Home</a>
    <a href="mailto:myEmail@example.com">If the problem continues, please email us.</a>
<%- include('../partials/footer') -%>