<%- include(`../partials/header`) -%>
    <h1>Successful Payment</h1>
    <h3>We will contact you within three business days</h3>
    <a href="mailto:myEmail@example.com">Please us if you have any concerns or would like to make chances to your order.</a>
    <a href="/">Go home</a>
<%- include(`../partials/footer`) -%>