*, html {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1rem;
  }
  
  body {
    background-color: rgb(241, 243, 248);
  }
  
  h1, h2, h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(53, 49, 49);
    padding: 0.5rem 0rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }
  
  p {
    padding: 0.2rem 0rem;
  }
  
  button {
    padding: 1rem;
    margin: 1rem 0rem;
    border: 0;
    border-radius: 50px;
    outline: transparent;
    font-weight: bold;
    color: rgb(53, 49, 49);
    font-size: 18px;
    cursor: pointer;
  }
  
  button:active {
    position: relative;
    top: 1px;
  }
  
  label.left {
    text-align: left !important;
    padding: 0.3rem;
  }
  
  input[type="checkbox"].larger {
    width: 30px;
    height: 30px;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }
  
  .flex-dir-row, .flex-dir-col {
    display: flex;
    flex-flow: row wrap;
  }
  
  .flex-dir-col {
    flex-flow: column nowrap;
  }
  
  .row {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    margin: 0.5rem 0rem;
  }
  
  .col-4 {
    flex: 33.3%;
  }
  
  .col-6 {
    flex: 50%;
  }
  
  
  .center {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }
  
  .middle {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .img-fill {
    width: 100%;
    height: auto;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    min-height: 20vh;
  }
  
  .navbar {
    background-color: rgb(241, 241, 241);
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    margin: 0rem 0rem 1rem 0rem;
    min-height: 5vh;
  }
  
  .nav-item {
    display: inline-block;
    font-size: 1.4rem;
    color:rgb(53, 49, 49);
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0px 1px 1px rgba(53, 49, 49, 0.9);
    padding: 1rem 1rem;
  }
  
  .nav-item:hover {
    color: rgba(85, 78, 78);
    cursor: pointer;
  }
  
  .footer {
    min-height: 5vh;
    padding: 1rem;
    border-top: 1px solid rgba(0,0,0,0.3);
  }
  
  .container {
    margin: 0.5rem;
    padding: 1.5rem 1rem;
    width: 100%;
  }
  
  .form-group {
    padding: 1rem;
  }
  
  .form-input {
    padding: 1rem;
    margin: 0.3rem;
    width: 100%;
  }
  
  /*FILLER STYLES*/
  .emphasis {
    font-style: italic;
  }

  .error {
    color: rgb(255,0,0);
  }
  
  .warning {
    color: rgb(224, 183, 0) !important;
  }

  .success {
    color: rgb(24, 160, 42);
  }

  .primary {
    color: rgb(67, 67, 216);
  }
  
  .shadow {
    box-shadow: 10px 10px 20px rgb(224, 226, 229), -10px -10px 20px rgb(255, 255, 255);
  }
  
  .shadow:active {
    box-shadow: 2px 2px 2px 0 #dfe4ea inset, -2px -2px 2px 0 #fff inset;
  }

  .shadow-box {
    box-shadow: 10px 10px 20px rgb(224, 226, 229), -10px -10px 20px rgb(255, 255, 255);
  }

  .hidden {
    display: none;
  }

  .cover {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.99);
  }

  .logout {
    font-size: 0.8rem;
  }
  
  
  
  
  