<%- include(`../partials/header`) -%>
    <div class="flex-dir-row">
        <div class="container flex center">
            <div>
                <h1>About Us</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="flex-dir-row center col-6">
            <div class="container shadow">
                <h2>Our Mission</h2>
                <p>To provide quality web services to those who need it for an affordable price.</p>
            </div>
        </div>
        <div class="flex-dir-row center col-6">
            <div class="container">
                <h2>Who Are We?</h2>
                <p>We are Computer Programming students at Confederation College, finishing our final semester on the last push to graduate. Jadon Moorman was born and raised in Dryden, Ontario always loving technology and computers, when deciding where to go for college the obvious answer was to take his love for computers and turn that into a career. Colton Van Bastelaere is a determined leader that enjoys using technology to create works of art, whether that be frontend design or backend logic. We are looking to take the knowledge we have gained from our schooling and turn it into a service that will allow anyone to have their own professional custom built website for an affordable price. We hope that if you are in need of web services that you will check out the rest of our website to find all the services we provide. Thank you!</p>
            </div>
        </div>        
    </div>
            <div>
                <img class="img-fill profile-img" src="/public/images/jadon.jpg">
                <p>Jadon Moorman</p>
                <img class="img-fill profile-img" src="/public/images/colton.jpg">
                <p>Colton Van Bastelaere</p>
            </div>
        </div>   
    </div>
<%- include(`../partials/footer`) -%>