<%- include(`../partials/header`) -%>
    <div class="row">
        <div class="container shadow center">
            <h1 style="padding-bottom:2rem;">CJay IT Consulting</h1>
            <hr>   
            <p>
                We are an IT consulting firm that can help you get your business online.
                Using our expertise and experience we can ensure that you are on the right path
                when ordering new equipment, setting up online services and develop web applications
                that serve you and your business efficiently and elegantly.
            </p>
            <img src="/public/images/floatingNodes.svg" alt="" srcset="" width="50%">
            <p>
                We hope you choose us today, so that we may ease your transitions, whatever they may be.Best of all you save the initial consulting fee when you complete a signed project with us!
            </p>
            <a href="/payment/purchase">
            <button style="background-color: lightblue">Book Now! $99.99</button>
            </a>
        </div>
    </div>
<%- include(`../partials/footer`) -%>