<%- include(`../partials/header`) -%>
    <div class="flex-dir-row">
        <div class="container flex center shadow">
            <div>
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="flex-dir-row center col-6">
            <div class="container shadow">
                <h2>Where Can You Get Ahold Of Us:</h2>
            </div>
        </div>
        <div class="flex-dir-row center col-6">
            <div class="container shadow">
                <p>Business Email - CJayConsulting@gmail.com</p>
                <p>Work Phone Number - (807)223-1234</p>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="flex-dir-row center col-6">
            <div class="container shadow">
                <h2>Send Us An Email Right Away!</h2>
                <a href="mailto:CJayConsulting@gmail.com">Send Email</a>
            </div>
        </div>
    </div>
<%- include(`../partials/footer`) -%>