<%- include(`../partials/header`) -%>
    <div class="flex-dir-row">
        <div class="container flex center shadow-box">
            <div>
                <h1>Contact Us</h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="flex-dir-row center col-6">
            <div class="container shadow-box">
                <h2>Where Can You Get Ahold Of Us:</h2>
                <p>Business Email - CJayConsulting@gmail.com</p>
                <p>Work Phone Number - (807)223-1234</p>
                <h2>Send Us An Email Right Away!</h2>
                <a class="nav-item shadow" href="mailto:CJayConsulting@gmail.com">Send Email</a>
            </div>
        </div>   
    </div>
    <div class="container shadow-box center">
        <p>Ready to book?</p>
        <div class="">
            <button class="call-to-action shadow" onclick="window.location.href='./consulting-info'">Book Now!</button> 
        </div>
    </div>
<%- include(`../partials/footer`) -%>