<%- include(`../partials/header`) -%>
    <div class="row">
        <div class="container shadow-box center">
            <h1 style="padding-bottom:2rem;">Hardware</h1>
            <hr>   
            <p>
                A couple questions we often hear are:"What do we really need?", "Do we really need to pay extra for this hardware upgrade, or can we get by?" Let us help you decide by navigating you throughout the intricacies of hardware soltuions. Purchase with confidence and get back to focusing on your business, not the IT.
            </p>
            <p>
                We will find the hardware requirements for the programs and services you would like to take advantage of for your business and we will let you know if you are ready to get started or if you will need to upgrade your hardware to utilize the programs.
            </p>
            <p>
                Scroll down to find the "Book Now!" button!
            </p>
            <img src="/public/images/rotatingGears.svg" alt="" srcset="" width="30%"> 
            <div class="">
                <button class="call-to-action shadow" onclick="window.location.href='./consulting-info'">Book Now!</button> 
            </div>
        </div>
    </div>
<%- include(`../partials/footer`) -%>