<%- include(`../partials/header`) -%>
    <div class="row">
        <div class="container shadow-box center">
            <h1 style="padding-bottom:2rem;">Hardware</h1>
            <hr>   
            <p>
                A couple questions we often hear are:"What do we really need?", "Do we really need to pay extra for this hardware upgrade, or can we get by?" Let us help you decide by navigating you throughout the intricacies of hardware soltuions. Purhcase with confidence and get back to focusing on your business, not the IT.
            </p>
            <img src="/public/images/rotatingGears.svg" alt="" srcset="" width="30%"> 
            <div class="">
                <button class="call-to-action shadow" onclick="window.location.href='./consulting-info'">Book Now!</button> 
            </div>
        </div>
    </div>
<%- include(`../partials/footer`) -%>