<%- include(`../partials/header`) -%>
<div class="banner center flex-dir-col">
    <h2 class=banner-head>Get Free Consulting TODAY</h2>
    <button class="call-to-action shadow" onclick="window.location.href='./consulting-info'">Book Now!</button>
</div>
<div class="row">
    <div class="col-4 gap flex-dir-row center">
        <div class="container shadow-box flex-dir-col">
            <a href="/web-software"><h3>Web Solutions</h3></a>
            <div class="img-container">
                <img class="img-fill" src="/public/images/floatingNodes.svg" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="col-4 gap flex-dir-row center">
        <div class="container shadow-box flex-dir-col">
            <a href="/hardware-requirements"><h3>Hardware Requirements</h3></a>
            <div class="img-container">
                <img class="img-fill" src="/public/images/rotatingGears.svg" alt="" srcset="">
            </div>
        </div>
    </div>
    <div class="col-4 gap flex-dir-row center">
        <div class="container shadow-box flex-dir-col">
            <a href="#"><h3>Get Hired Today!</h3></a>
            <div class="img-container">
                <img class="img-fill" src="/public/images/pencil-case.svg" alt="" srcset="">
            </div>
        </div>
    </div>
</div>
<%- include(`../partials/footer`) -%>