<%- include(`../partials/header`) -%>
    <div class="row">
        <div class="container shadow-box center">
            <h1 style="padding-bottom:2rem;">Hardware</h1>
            <hr>   
            <p>
                New computers? Starting a new business or looking to get into more intricate IT solutions? We're here to help provide you with the correct software to do the job! Focus on maintianing and building your business while we do the research and if needed, the install of your software.
            </p>
            <img src="/public/images/floatingNodes.svg" alt="" srcset="" width="80%"> 
            <div class="">
                <button class="call-to-action shadow" onclick="window.location.href='./consulting-info'">Book Now!</button> 
            </div>
        </div>
    </div>
<%- include(`../partials/footer`) -%>