<%- include(`../partials/header`) -%>
    <div class="row">
        <div class="container shadow-box center">
            <h1 style="padding-bottom:2rem;">Software</h1>
            <hr>   
            <p>
                New computers? Starting a new business or looking to get into more intricate IT solutions? We're here to help provide you with the correct software to do the job! Focus on maintianing and building your business while we do the research and if needed, the install of your software.
            </p>
            <p>
                We can make your life easier, leave the confusing software install process to us and focus on making your business the best it can possibly be! We can install all forms of software onto your systems, all the way from user software to required libraries to make the programs you want to use run properly.
            </p>
            <p>
                Scroll down to find the "Book Now!" button!
            </p>
            <img src="/public/images/floatingNodes.svg" alt="" srcset="" width="80%"> 
            <div class="">
                <button class="call-to-action shadow" onclick="window.location.href='./consulting-info'">Book Now!</button> 
            </div>
        </div>
    </div>
<%- include(`../partials/footer`) -%>